.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 7px;
  justify-content: space-evenly;
  background-color: rgb(35 35 36);
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 400px;
  background-color: rgb(209, 201, 201);
  transition: 0.5s;
  &:hover {
    opacity: 0.75;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.text_content {
  color:rgb(41, 40, 40);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:100%;
  padding: 10px;
  width: 100%;
}

.title {
  font-size: 1.7rem;
  font-weight: 500;
}

.date {
  font-size: .8rem;
  padding-top: 20px;
  font-weight: 600;
}

.link {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.comment_count {
  font-size: 1rem;
  color: rgba(179, 2, 2, 0.568);
  white-space: nowrap;
}

.blog_title {
  width: 100%;
  font-size: 3rem;
  color: rgb(216, 205, 205);
  text-align: center;
  margin-top: -20px;
}