.addForm {
  background-color:#e5dede;
  color:rgb(42, 43, 44);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  gap: 10px;
  font-weight: 500;
}

.addForm > label {
  display: flex;
  flex-direction: column;
}

.addForm > label > textarea {
  height: 150x;
  min-height: 150px;
  max-width: 100%;
}

.title {
  text-align: center;
}